# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore database files
*.db
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore uploaded files
uploads/

# Ignore logs and temporary files
*.log
tmp/

